.approval-range-wrapper
{
  margin: 20px 0;

  label
  {
    display: block;
    text-align: center;
    font-size: .75em;
    line-height: 1em;
    color: #47abb4;
  }

  .slider-wrapper
  {
    white-space: nowrap;
    
    span:first-child
    {
      margin-right: 5px;
    }

    span:last-child
    {
      margin-left: 5px;
    }

    .slider
    {
      display: inline-block;
      width: 152px;
      vertical-align: middle;

      .ui-slider-range
      {
        background: #31766f;
      }

      .ui-slider-handle
      {
        outline: 0;
        cursor: pointer;
        background: #31766f;
      }
    }
  }
}
