.cars-index-wrapper
{
  .cars-index
  {
    width: 700px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3
    {
      font-size: 2.33em;
      line-height: 42px;
      color: #153d39;
    }

    p
    {
      font-size: 1.125em;
      color: #848c8b;
    }
  }

  .load-more
  {
    display: block;
    margin: 0 auto;
    outline: 0;
    width: 100px;
    height: 50px;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
  }

  .load-more:hover, .load-more.disabled
  {
    background: #eeeeee;
  }

  .load-more:active
  {
    box-shadow: inset 0 5px 30px #193047;
  }

  label.no-more-data
  {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

/* tablets - portrait mode */
@media only screen and (max-width: 800px) and (orientation: portrait)
{
  .cars-index-wrapper
  {
    width: 100%;

    .cars-index
    {
      margin: auto;
    }
  }
}

/* phones - landscape mode */
@media only screen and (max-width: 736px) and (orientation: landscape)
{
  .cars-index-wrapper
  {
    width: 100%;

    .cars-index
    {
      margin: auto;
      width: 550px;
    }
  }
}

/* phones - portrait mode */
@media only screen and (max-width: 414px) and (orientation: portrait)
{
  .cars-index-wrapper
  {
    .cars-index
    {
      width: 260px;
    }
  }
}
